# Twilio Configuration
TWILIO_SID=your_twilio_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_PHONE_NUMBER=your_twilio_phone_number
TO_PHONE_NUMBER=recipient_phone_number

# Email Configuration
FROM_EMAIL=your_email@gmail.com
EMAIL_APP_PASSWORD=your_gmail_app_password
ALERT_RECIPIENT_EMAIL=recipient@example.com
